# Virtual Environment
.venv
# VS CODE
.vscode

# Compiled python modules.
*.pyc
**/__pycache__/

# Setuptools distribution folder.
/dist/
/build/

# Python egg metadata.
*.egg-info

#sphinx-doc files
/doc/_build/

#Agent helper files
/*venv.cmd